html,body {
    scroll-behavior: smooth;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
}

header.sticky {
    background-color: #fff;
    padding: 30px 100px;
    text-decoration: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo {
    position: absolute;
    width: 186px;
    height: 23px;
    left: 30px;
    top: 24px;
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-decoration: none;
}

header .logo2 {
    position: absolute;
    width: 170px;
    height: 54px;
    left: 30px;
    top: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #EB0A0A;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}



header.sticky .logo {
 color: #111111;   
 text-decoration: none;
}

header ul {
    position: static ;
    margin-right: 120px;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    color:#000;
    font-weight: 400;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
}
header.sticky ul li a {
    color: #111111;   
}

.banner
{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background :#FFFFFF;
    background-position : right;
    display :flex;
    justify-content: space-between;
    align-items: center;
    padding : 100px;
}
.banner h2
{
    font-family: 'Palanquin', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 116px;
    color: #6C2424;
}

.btn {
    position: relative;
    font-weight: 600;
    background: #6C2424;
    color: #ffffff;
    margin-top: 20px;
    padding: 8px 15px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 2px;
    margin-left: 2px;
    z-index: 40;
    
}



.btn:hover {
    background-color: #161616; /* Green */
    color: white;
    z-index: 40;
}

::-webkit-scrollbar {
    width: 8px;
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(59, 59, 59);
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #000000;
    scroll-behavior: smooth;
}